?                                                       a
b                                                       r
bb                                                      a
bbb                                                     r
bbbb                                                    a
