?                                                    a
abc                                                  a
aabbcc                                               a
aaabbbccc                                            a
abca                                                 r
aabbc                                                r
bc                                                   r
abcabc                                               r
