c                                                   a
aca                                                 a
bcb                                                 a
abcab                                               a
bacba                                               a
abcabc                                              r
cab                                                 r
abc                                                 r
